/* You can add global styles to this file, and also import other style files */
.sortable {
    cursor: pointer;
    user-select: none;
}

.nonselectable {
    user-select: none;
}

.arrow-icon {
    font-size: 10px
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}