<div style="height: 80vh" class="row">
    <div class="col-2">
        <menu class="m-0 p-0" selection="about"></menu>
    </div>
    <div class="col-3"></div>
    <div class="col-4">
        <div class="h-25"></div>
        <div class="border rounded bg-secondary text-white text-center p-3">
            <div class="h5">
                Network Monitor<br/>
                Application
            </div>
            <div class="h8 mb-4">SuperTurboGrinder (2018)</div>
            <div>
                <a target="_blank"
                    class="btn btn-info m-2 w-50"
                    href="https://github.com/SuperTurboGrinder/NtwkMonitor.Server"
                >
                    Server
                    <i class="fa fa-github m-0 p-0"></i>
                </a>
            </div>
            <div>
                <a target="_blank"
                    class="btn btn-info m-2 w-50"
                    href="https://github.com/SuperTurboGrinder/NtwkMonitor.App"
                >
                    App
                    <i class="fa fa-github m-0 p-0"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>